In [1]:
import numpy as np
import pandas as pd
from collections import Counter

data_path = "../data/upload_time.csv"

In [2]:
data = pd.read_csv(data_path)
data.head()

   Unnamed: 0    Code  Post idx  DOW  Hour  Min
0           0  sns001         0  Sun    21   43
1           1  sns001         1  Sun    21   43
2           2  sns001         2  Sun     1   38
3           3  sns001         3  Sun     1   38
4           4  sns001         4  Sun     1   38

In [3]:
sub_list = data['Code'].unique().tolist()
print(sub_list)

['sns001', 'sns002', 'sns004', 'sns005', 'sns007', 'sns009', 'sns010', 'sns011', 'sns012', 'sns013', 'sns015', 'sns016', 'sns018', 'sns020', 'sns021', 'sns022', 'sns023', 'sns024', 'sns025', 'sns026', 'sns028', 'sns029', 'sns030', 'sns031', 'sns032', 'sns034', 'sns035', 'sns038', 'sns041', 'sns042', 'sns043', 'sns044', 'sns045', 'sns046', 'sns048', 'sns049', 'sns050', 'sns051', 'sns054', 'sns055', 'sns056', 'sns058', 'sns059', 'sns060', 'sns061', 'sns062', 'sns063', 'sns064', 'sns065', 'sns066', 'sns067', 'sns068', 'sns069', 'sns070', 'sns071', 'sns072', 'sns073', 'sns074', 'sns075', 'sns076', 'sns077', 'sns078', 'sns079', 'sns080', 'sns081', 'sns082', 'sns083', 'sns084', 'sns085', 'sns086', 'sns087', 'sns088', 'sns089', 'sns090', 'sns091', 'sns092', 'sns093']

In [4]:
result = pd.DataFrame(columns = range(24))

for sub in sub_list:
    sub_res = Counter(data[data['Code'] == sub]['Hour'])
    
    key = list(sub_res.keys())
    val = list(sub_res.values())
    
    temp = pd.DataFrame(val).T
    temp.columns = key
    result = result.append(temp)
    
# #     items = sub_res.items()
# #     final = [item[1] for item in sorted(items, key = lambda x: x[0])]

In [5]:
result["Code"] = sub_list
result = result.fillna(0)
result.to_csv("../data/upload_time_result_by_sub.csv")